# Node modules
node_modules/
**/node_modules/

# Build outputs
client/dist/
contracts/target/
cache/
artifacts/
typechain-types/
coverage/

# Vite cache
.vite/

# Env files
.env
*.env.local

# OS/editor
.DS_Store
.vscode/
